@tailwind base;
@tailwind components;
@tailwind utilities;

/* REQUIRED for full-screen dashboards */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
